<?xml version="1.0" encoding="UTF-8"?>
<plugin id="hrs-cordova-plugin-signal-strength" version="1.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>Signal</name>
  <description>GSM Signal Strength Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,signal,strength,gsm,dBa,network</keywords>
  <js-module name="SignalStrength" src="www/cordova-plugin-signal-strength.js">
    <clobbers target="SignalStrength"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="SignalStrength">
        <param name="android-package" value="com.hrs.signalstrength.SignalStrength"/>
      </feature>
    </config-file>
    <source-file src="src/android/SignalStrength.java" target-dir="src/com/hrs/signalstrength" />
    <framework src="com.jakewharton.timber:timber:5.0.1" />
  </platform>
</plugin>
